.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .calendar-container {
    position: relative; /* 캘린더를 기준으로 버튼 위치 설정 */
    width: 100%;
    max-width: 600px;
    margin-bottom: -60px; /* 캘린더와 플러스 버튼 사이 간격 */
  }
  
  /* 플러스 버튼 */
  .add-button {
    position: relative; /* 버튼이 캘린더 위로 렌더링되도록 보장 */
    z-index: 10;
    display: block; /* 버튼이 캘린더 아래로 내려오도록 설정 */
    margin-left: 570px; /* 버튼을 가운데 정렬 */
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  
  .transaction-list {
    margin: 20px;
    width: 100%;
    max-width: 600px;
  }
  
  .transaction-item {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    color: #333;
  }
  
  .transaction-item.income {
    background-color: #ffcccc;
  }
  
  .transaction-item.expense {
    background-color: #cce5ff;
  }
  